
@font-face {
  font-family: 'ChaletComprime-CologneEighty';
  src: url('ChaletComprime-CologneEighty.eot?#iefix') format('embedded-opentype'),  url('ChaletComprime-CologneEighty.woff') format('woff'), url('ChaletComprime-CologneEighty.ttf')  format('truetype'), url('ChaletComprime-CologneEighty.svg#ChaletComprime-CologneEighty') format('svg');
  font-weight: normal;
  font-style: normal;
}
