/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.ico-pin { width: 6.36vw; height: 5.73vw; }

.ico-pin-a,
.ico-pin-b,
.ico-pin-c,
.ico-pin-d,
.ico-pin-e,
.ico-pin-p,
.ico-pin-l,
.ico-pin-1-blue,
.ico-pin-1,
.ico-pin-2,
.ico-pin-3,
.ico-pin-4,
.ico-pin-4-blue,
.ico-pin-5,
.ico-pin-6,
.ico-pin-6-blue,
.ico-pin-7,
.ico-pin-8,
.ico-pin-9,
.ico-pin-9-blue,
.ico-pin-10,
.ico-pin-11,
.ico-pin-11-blue,
.ico-pin-12-blue { width: 6.36vw; height: 5.73vw; }

.ico-pin-1-s,
.ico-pin-2-s,
.ico-pin-3-s,
.ico-pin-4-s,
.ico-pin-5-s,
.ico-pin-6-s,
.ico-pin-7-s,
.ico-pin-8-s { width: 4.42vw; height: 4.28vw; }

.ico-arrow { width: 19.33vw; height: 18.96vw; }
.ico-arrow-r { width: 7.45vw; height: 22.82vw; }
.ico-arrow-r-b { width: 12.87vw; height: 22.87vw; }
.ico-arrow-b { width: 12.82vw; height: 20.78vw; }
.ico-house { width: 3.28vw; height: 2.92vw; }
